<h6>Component interaction</h6>
<br />
<hr />
<h6>1. Pass data from parent to child with input binding</h6>
<hr />
<h6>
  2. Parent listens for child event - Event binding
</h6>
<hr />
<h6>3.Parent interacts with child via template reference variable:</h6>
<app-countdown-parent-with-temp-ref-var></app-countdown-parent-with-temp-ref-var>
<br /><br />
<h6>4.Using @ViewChild():</h6>
<app-countdown-parent-with-view-child></app-countdown-parent-with-view-child>
<br /><br />
<h6>5. Using @ContentChild()</h6>
<hr />
<h6>Via a service:</h6>
<app-simple-todo></app-simple-todo>
